    .card-shadow{box-shadow:0 10px 30px rgba(0,0,0,.3);}
    .whatsapp-float{width:64px;height:64px;border-radius:9999px;box-shadow:0 8px 20px rgba(0,0,0,.25)}
    .contact-float{width:56px;height:56px;border-radius:9999px;box-shadow:0 8px 20px rgba(0,0,0,.25)}

@keyframes shine {
  0%   { transform: translateX(-100%) skewX(-20deg); }
  100% { transform: translateX(100%)  skewX(-20deg); }
}

/* esconder scrollbar (opcional) */
.no-scrollbar::-webkit-scrollbar{ display: none; }
.no-scrollbar{ -ms-overflow-style: none; scrollbar-width: none; }

/* Si quieres que el nombre no ocupe más de 2 líneas: */
.carousel-caption {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}